*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-color: #472665;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: grid;
    /* grid-template-columns: 100px repeat(2, 1fr) 100px; */
    /* grid-template-columns: repeat(4, min-content); */
    /* grid-template-columns: repeat(4, max-content); */
    /* grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content); */
    grid-template-columns: minmax(400px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(400px, 1fr);

    /* height: 90vh; */

    max-width: 1170px;
    margin: 50px auto;
    border: 5px solid #8545bf;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

.item{
    border: 1px solid #be76ff;
    padding: 10px 0;
}