*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-color: #191f33;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    /* max-width: 1440px; */
    /* margin: 100px auto; */
    /* padding: 20px; */
    height: 100vh;
    border: 5px solid #2e4590;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

.item{
    padding: 10px 0;
    height: 80px;
    margin: 15px;
    line-height: 80px;
    font-size: 20px;
}

.grid-layout{
    display: grid;
}

/*  */

.grid-layout-column-1{
    grid-template-columns: repeat(1, 1fr);
}

.grid-layout-column-2{
    grid-template-columns: repeat(2, 1fr);
}

.grid-layout-column-3{
    grid-template-columns: repeat(3, 1fr);
}

.grid-layout-column-4{
    grid-template-columns: repeat(4, 1fr);
}

.grid-layout-column-5{
    grid-template-columns: repeat(5, 1fr);
}

.grid-layout-column-6{
    grid-template-columns: repeat(6, 1fr);
}

.grid-layout-column-7{
    grid-template-columns: repeat(7, 1fr);
}

.grid-layout-column-8{
    grid-template-columns: repeat(8, 1fr);
}

.grid-layout-column-9{
    grid-template-columns: repeat(9, 1fr);
}

.grid-layout-column-10{
    grid-template-columns: repeat(10, 1fr);
}

.grid-layout-column-11{
    grid-template-columns: repeat(11, 1fr);
}

.grid-layout-column-12{
    grid-template-columns: repeat(12, 1fr);
}

/*  */

.grid-layout-row-1{
    grid-template-rows: repeat(1, 1fr);
}

.grid-layout-row-2{
    grid-template-rows: repeat(2, 1fr);
}

.grid-layout-row-3{
    grid-template-rows: repeat(3, 1fr);
}

.grid-layout-row-4{
    grid-template-rows: repeat(4, 1fr);
}

.grid-layout-row-5{
    grid-template-rows: repeat(5, 1fr);
}

.grid-layout-row-6{
    grid-template-rows: repeat(6, 1fr);
}

.grid-layout-row-7{
    grid-template-rows: repeat(7, 1fr);
}

.grid-layout-row-8{
    grid-template-rows: repeat(8, 1fr);
}

.grid-layout-row-9{
    grid-template-rows: repeat(9, 1fr);
}

.grid-layout-row-10{
    grid-template-rows: repeat(10, 1fr);
}

.grid-layout-row-11{
    grid-template-rows: repeat(11, 1fr);
}

.grid-layout-row-12{
    grid-template-rows: repeat(12, 1fr);
}

/*  */

/* .col-sm, .col-md, .col-lg, */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12
/* .row-sm, .row-md, .row-lg, */
.row-1, .row-2, .row-3, .row-4, .row-5, .row-6,
.row-7, .row-8, .row-9, .row-10, .row-11, .row-12{
    height: auto;
    width: auto;
}

/* .col-sm, .row-sm{
    background-color: #7bbaaa;
}
.col-md, .row-md{
    background-color: #f7bf57;
}
.col-lg, .row-lg{
    background-color: #f56a58;
} */

/* .col-sm{
    grid-column: span 1;
}
.col-md{
    grid-column: span 2;
}
.col-lg{
    grid-column: span 3;
}

.row-sm{
    grid-row: span 1;
}
.row-md{
    grid-row: span 2;
}
.row-lg{
    grid-row: span 3;
} */

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    background-color: #b8655a;
}
.col-1{
    grid-column: span 1;
}
.col-2{
    grid-column: span 2;
}
.col-3{
    grid-column: span 3;
}
.col-4{
    grid-column: span 4;
}
.col-5{
    grid-column: span 5;
}
.col-6{
    grid-column: span 6;
}
.col-7{
    grid-column: span 7;
}
.col-8{
    grid-column: span 8;
}
.col-9{
    grid-column: span 9;
}
.col-10{
    grid-column: span 10;
}
.col-11{
    grid-column: span 11;
}
.col-12{
    grid-column: span 12;
}

.row-1, .row-2, .row-3, .row-4, .row-5, .row-6,
.row-7, .row-8, .row-9, .row-10, .row-11, .row-12 {
    background-color: #b8655a;
}
.row-1{
    grid-row: span 1;
}
.row-2{
    grid-row: span 2;
}
.row-3{
    grid-row: span 3;
}
.row-4{
    grid-row: span 4;
}
.row-5{
    grid-row: span 5;
}
.row-6{
    grid-row: span 6;
}
.row-7{
    grid-row: span 7;
}
.row-8{
    grid-row: span 8;
}
.row-9{
    grid-row: span 9;
}
.row-10{
    grid-row: span 10;
}
.row-11{
    grid-row: span 11;
}
.row-12{
    grid-row: span 12;
}