*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.grid-row {
	display: grid;
	gap: 10px;
	margin: 0 auto;
	width: 90vw;
}

.grid-col {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
}

.grid-col_text-center {
	text-align: center;
}

.grid-col div {
	border: 1px solid black;
}