
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-color: #472665;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    grid-template-rows: repeat(3, 110px);
    grid-auto-flow: column;

    max-width: 1240px;
    margin: 100px auto;
    padding: 20px;
    border: 5px solid #8545bf;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

.item{
    border: 1px solid #be76ff;
    padding: 10px 0;

    height: 80px;
    margin: 15px;
    line-height: 80px;
    font-size: 20px;
}

.item_size_sm{
    background-color: #7bbaaa;
}

.item_size_md{
    background-color: #f7bf57;   
}

.item_size_lg{
    background-color: #f56a58;
}