*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-color: #191f33;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: dense;
    justify-content: center;

    max-width: 1440px;
    margin: 100px auto;
    padding: 20px;
    border: 5px solid #2e4590;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

.item{
    padding: 10px 0;

    height: 80px;
    margin: 15px;
    line-height: 80px;
    font-size: 20px;
}

.item_size_sm{
    background-color: #7bbaaa;
    grid-column: span 1;
}

.item_size_md{
    background-color: #f7bf57;
    grid-column: span 2;
}

.item_size_lg{
    background-color: #f56a58;
    grid-column: span 3;
}