*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-color: #472665;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: grid;
    max-width: 1170px;
    margin: 50px auto;
    border: 5px solid #8545bf;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.item{
    border: 1px solid #be76ff;
    padding: 10px 0;
}

.item:first-child{
    grid-column: 1 / 3;
    grid-row: span 11 / 1;
}

.item:nth-child(2){
    height: 29vh;
}