
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-color: #472665;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: grid;
    grid-template-columns: 30vh repeat(2, 1fr);
    grid-template-rows: 10vh repeat(1, 1fr) 10vh;
    grid-template-areas:
        "header header header"
        "nav main main"
        "footer footer footer";

    /* grid-template-areas:
        "header header ."
        "nav main main"
        "footer footer footer"; */
        
    height: 100vh;
    border: 5px solid #8545bf;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

.header{
    border: 2px solid #be76ff;
    padding: 25px 0;
    grid-area: header;
}

.nav{
    border: 2px solid #be76ff;
    padding: 25px 0;
    grid-area: nav;
}

.main{
    border: 2px solid #be76ff;
    padding: 25px 0;
    grid-area: main;
}

.footer{
    border: 2px solid #be76ff;
    padding: 25px 0;
    grid-area: footer;
}