*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-color: #472665;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 100px); */
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, 100px); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
    

    max-width: 1170px;
    margin: 50px auto;
    border: 5px solid #8545bf;
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

.item{
    border: 1px solid #be76ff;
    padding: 10px 0;
}