*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.grid-layout{
    display: grid;
    grid-template-columns: 200px 200px repeat(3, 1fr);
    grid-template-rows: 200px 200px repeat(3, 1fr);
    
    height: 100vh;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}

.item{
    margin: 10px;
    background-color: #d8d8d8;
}

.item:nth-child(1){
    grid-column: span 2;
    grid-row: span 2;
}

.item:nth-child(2){
    grid-column: span 3;
    grid-row: span 3;
}

.item:last-child{
    grid-column: span 3;
}

@media screen and (max-width: 800px){
    .grid-layout{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 200px 200px repeat(7, 1fr);
    }

    .item:nth-child(2) {
        grid-column: span 2;
        grid-row: span 2;
    }

    .item:last-child{
        grid-column: span 1;
    }
}

@media screen and (max-width: 400px){
    .grid-layout{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px 200px repeat(7, 1fr);
    }

    .item:nth-child(1) {
        grid-column: span 1;
        grid-row: span 2;
    }

    .item:nth-child(2) {
        grid-column: span 1;
        grid-row: span 2;
    }
}